body {
    font-family: 'Poppins', sans-serif;
}


.top-section {
    background-image: url(images/banner-background-baby.jpg);
    background-repeat: no-repeat;
}

.content-area {
    padding: 15% 20%;
    margin: 0px;
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 65px;
    font-weight: 800;
}

.content-area h1 {
    color: aliceblue;

}

.content-area p {
    color: #fff;
    margin-bottom: 30px;
}

.content-area {
    text-align: center;
}


.link-button {
    text-decoration: none;
    text-transform: uppercase;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    color: #fff;
    border-radius: 5px;
    margin-top: 15px;
    font-size: 20px;
}

.total-price {
    display: flex;
    padding: 5%;
}

/* 2nd section */
.donate-price {
    display: inline-block;
    width: 20%;
    height: 85px;
    background-color: #7D7D7D26;
    margin: 12px;
    padding-top: 40px;
    border-radius: 4px;
    font-size: 25px;
    text-align: center;
}

.content-area-all {
    text-align: center;
    margin-top: 80px;
}

.price-active {
    background-color: #F37E7E26;
    border: 3px solid #dc2727;
    color: #dc2727;
    box-shadow: 0px 1px 10px 0px #888888;
}

.donate-price:hover {
    background-color: #F37E7E26;
    border: 3px solid #dc2727;
    color: #dc2727;
    box-shadow: 0px 1px 10px 0px #888888;
}

.input-form {
    text-align: center;
}

.input-tk {
    text-align: center;
    font-size: 25px;
    border: none;
    border-bottom: 2px solid #dbdbdb;
    width: 50%;
    padding: 20px;
}
/* 3rd section */

.plan{
    display: flex;
    padding:5%;
}

.plan-part-1 p{
    padding: 10px;
    margin: 15px;
    text-align: justify;
}
.plan-part-2 p{
    padding: 10px;
    margin: 15px;
    text-align: justify;
}
.plan-part-3 p{
    padding: 10px;
    margin: 15px;
    text-align: justify;
}
.plan-part-1{
    background-color: #fa00004f;
    border-radius: 15px;
    margin: 15px;
}
.plan-part-2{
    background-color: #00fa364f;
    border-radius: 15px;
    margin: 15px;
}
.plan-part-3{
    background-color: #fa00004f;
    border-radius: 15px;
    margin: 15px;
}
.plan-part-1:hover{
    box-shadow: 0px 1px 15px 0px #888888;
}
.plan-part-2:hover{
    box-shadow: 0px 1px 15px 0px #888888;
}
.plan-part-3:hover{
    box-shadow: 0px 1px 15px 0px #888888;
}
.artical-part-1{
    display: flex;
    padding: 5%;
}
.half-width{
    padding: 10px;
    width: 50%;
}
.half-width p{
padding-top: 5px;
text-align: justify;
}
#relief-right{
    float: right;
}
.artical-part-2{
    display: flex;
    padding: 5%;
}
#relief-left{
    float: left;
}
.count-down{
    display: inline-block;
    width: 25%;
    height: 200px;
    background-color: #ff000077;
    margin: 12px;
    padding-top: 80px;
    border-radius: 200px;
    font-size: 25px;
    text-align: center;
    border: 5px solid #000;
}
.count-down h3 {
	padding-top: 25px;
}
.countdown-part{
    display: flex;
    padding:5%;
}

.count-down:hover{
  
    background-color: #04215fb7;
   color: #fff;
    border: 5px solid rgb(255, 0, 0);
}